@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}

main{
  background: url("SL-110622-53540-24.jpg")repeat;
}
.article{
  /* background-color: red; */
  height: 820px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid black ;
}
.article2{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid black ;
}
.article-column{
  flex-direction: column; 
}
.opacity{
  background-color: rgb(155, 155, 155, .2);
}

.flex-horizon{
  display: flex;
  justify-content: space-evenly;
  /* background-color: saddlebrown; */
  align-items: center;
  flex-direction: row;
  max-width: 1020px;
  margin: 0;
  height: auto;
}
.figure{
  width: auto;
}
.img{
  height: 500px;
  width: 350px;
  border-radius:10% ;
}
.flex-column{
  /* background-color: rebeccapurple; */
  display: flex;
  max-width: 1020px;
  /* margin: 0px 50px 0px 0px ; */
  flex-direction: column;
  /* height: 100%; */
  justify-content: space-evenly;
  /* background-color: royalblue; */
}
.text-center{
  display: flex;
  flex-direction: column;

}
.margin-right{
  margin-right: 50px;
}
.margin-top{
  margin-top: 1em;
}
.text-broad{
    width: 500px;
    height: 400px;
}
.text-large{
  height: 200px;
}
.text__justify{
  text-align: justify;
}
.text{
  font-size: 1.2em;
}
.text__Center{
  text-align: center;
}
.title-h1{
  /* font-size: calc(2rem + 2vw) */
  font-size: 3em;
}
.title-h2{
  /* font-size:2vw ; */
  /* font-size: calc(1.5rem + 1.5vw); */
  font-size: 2em;
}
.card{
  padding: 3rem 2rem 3rem 2rem;
  width: 80%;
  height: 120%;
}
.gap{
  gap: 10px;
}